<div fxLayoutAlign="center">
    <h2>Time: {{time.toFixed(2)}}</h2>
</div>

<div class="container" fxLayoutAlign="center center">
    <div class="board" fxLayout="row wrap">        
        <app-puzzle-piece class="piece" *ngFor="let part of puzzle" fxFlex="0 0 calc(151px - 1px)" [pieceNumber]="part" [puzzleType]="puzzleType" [part_1]="part_1" [part_2]="part_2" (click)="swapPieces(part)" ></app-puzzle-piece>
    </div>
</div>
<div *ngIf="score != -1" fxLayoutAlign="center">
    <h2 *ngIf="highscore == true">New highscore: {{score}}</h2>
    <h2 *ngIf="highscore == false">Score: {{score}}</h2>
</div>