<!--A simple FAQ on a mat-table -->
<mat-card>
    <mat-card-header>
        <mat-card-title>FAQ</mat-card-title>
    </mat-card-header>
  <mat-card>
    <mat-card-header>
        <mat-card-title>What is PuzzlePro?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            This site is a plattform to play simple puzzlegames with your friends and compete to see how reaches the highest score.
        </p>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-header>
        <mat-card-title>Is it free to play PuzzlePro?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            Yes PuzzlePro is a nonprofit project. No costs, no ads, no premium Features.
        </p>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-header>
        <mat-card-title>Can I still support the developers?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            Yes you can! If you want to support you can reach out at our gofundme: <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley">Thank you!</a>
        </p>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-header>
        <mat-card-title>How is the score calculated?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            The score is 100 - the seconds you take to complete your puzzle
        </p>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-header>
        <mat-card-title>What happens if I manage to get the highest score of them all?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            We will congratulate you by putting your name and score on our leaderboard until it gets beaten.
        </p>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-header>
        <mat-card-title>Can I see all of my scores?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            No only your best score counts, your <b>high</b>score.
        </p>
    </mat-card-content>
  </mat-card>
  
</mat-card>
