<mat-toolbar color="primary">
  <span routerLink="/"><img src="../assets/Logo_white.svg" alt=""></span>
  <span class="example-spacer"></span>
  
  <a mat-flat-button color="primary" type="button" routerLink="/highscores">Highscores</a>
  <a mat-flat-button color="primary" type="button" routerLink="/FAQ">FAQ</a>
  <a *ngIf="getLoggedin() == false" mat-flat-button color="primary" type="button"  routerLink="/login">Login</a>
  <a *ngIf="getLoggedin() == false" mat-flat-button color="primary" type="button" routerLink="/signup">Signup</a>
  <a *ngIf="getLoggedin()" mat-flat-button color="primary" type="button" routerLink="/profile">Profile</a>  
  <a *ngIf="getLoggedin()" mat-flat-button color="primary" type="button" routerLink="/" (click)="logout()">Logout</a>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>  


